<div>
    <h3>Lista de Paradas na produção</h3>
  </div>
  <div class="button-row" >
    <button mat-raised-button color="primary" (click)="irParaTelaInclusao()" type="submit">Incluir Parada na Produção</button>
  </div>
  <table mat-table [dataSource]="paradaProducaoDataSource" >
 
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="linha-nome">
      <th mat-header-cell *matHeaderCellDef> Linha de Produção </th>
      <td mat-cell *matCellDef="let element"> {{element['linha']['nome']}} </td>
    </ng-container>
 
    <ng-container matColumnDef="turno-nome">
      <th mat-header-cell *matHeaderCellDef> Turno </th>
      <td mat-cell *matCellDef="let element"> {{element['turno']['nome']}} </td>
    </ng-container>

    <ng-container matColumnDef="data-hora-inicio">
      <th mat-header-cell *matHeaderCellDef> Início </th>
      <td mat-cell *matCellDef="let element"> {{element['data-hora-inicio'] | date: 'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="data-hora-fim">
      <th mat-header-cell *matHeaderCellDef> Encerramento </th>
      <td mat-cell *matCellDef="let element"> {{element['data-hora-fim'] | date: 'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="acao-editar">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary" routerLink="/parada-producao/{{element.id}}" selected>Editar</button></td>
    </ng-container>

    <ng-container matColumnDef="acao-excluir">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="warn" (click)="excluirParadaProducao(element.id)" selected>Excluir</button></td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10"></mat-paginator>