<div class="norma-industrial-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Cadastro de Normas Industriais</mat-card-title>
        </mat-card-header>
<br/>
        <form [formGroup]="formNormaIndustrial" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código" required formControlName="codigo">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Título"  required formControlName="titulo">
                </mat-form-field>

                <mat-error
                    *ngIf="formNormaIndustrial.controls['titulo'].invalid && formNormaIndustrial.controls['titulo'].errors.required && (formNormaIndustrial.controls['titulo'].dirty || formNormaIndustrial.controls['titulo'].touched)">
                    Título é obrigatório
                </mat-error>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Versão" required formControlName="versao">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Autor" required formControlName="autor">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Endereço do documento" required formControlName="link">
                </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Data de entrada em vigor" type="date" required formControlName="dataVigor">
            </mat-form-field>           
                  
             
            </mat-card-content>
            <div class="button-row">
                <button mat-raised-button color="primary" (click)="voltar()">Voltar</button>
            </div>

        </form>
    </mat-card>

</div>