<div class="armazem-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Cadastro de Armazéns</mat-card-title>
        </mat-card-header>
<br/>
        <form [formGroup]="formArmazem" (ngSubmit)="salvar()" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código" required formControlName="id">
                </mat-form-field>
                <mat-error
                    *ngIf="formArmazem.controls['id'].invalid && formArmazem.controls['id'].errors.required && (formArmazem.controls['id'].dirty || formArmazem.controls['id'].touched)">
                    O código é obrigatório
                </mat-error>
                <mat-error
                    *ngIf="formArmazem.controls['id'].invalid && formArmazem.controls['id'].errors.maxlength && (formArmazem.controls['id'].dirty || formArmazem.controls['id'].touched)">
                    Máximo de 20 caracteres
                </mat-error>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Endereço"  required formControlName="endereco">
                </mat-form-field>

                <mat-error
                    *ngIf="formArmazem.controls['endereco'].invalid && formArmazem.controls['endereco'].errors.required && (formArmazem.controls['endereco'].dirty || formArmazem.controls['endereco'].touched)">
                    Endereço é obrigatória
                </mat-error>

                <mat-error
                    *ngIf="formArmazem.controls['endereco'].invalid && formArmazem.controls['endereco'].errors.maxlength && (formArmazem.controls['endereco'].dirty || formArmazem.controls['endereco'].touched)">
                    Máximo de 150 caracteres
                </mat-error>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="CEP" type="number" required formControlName="cep">
                </mat-form-field>
                <mat-error
                    *ngIf="formArmazem.controls['cep'].invalid && formArmazem.controls['cep'].errors.required && (formArmazem.controls['cep'].dirty || formArmazem.controls['bairro'].touched)">
                    CEP é obrigatório
                </mat-error>
                <mat-error
                    *ngIf="formArmazem.controls['cep'].invalid && formArmazem.controls['cep'].errors.maxlength && (formArmazem.controls['cep'].dirty || formArmazem.controls['cep'].touched)">
                    Máximo de 8 caracteres
                </mat-error>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cidade/Estado" required formControlName="cidadeEstado">
                </mat-form-field>
                <mat-error
                    *ngIf="formArmazem.controls['cidadeEstado'].invalid && formArmazem.controls['cidadeEstado'].errors.required && (formArmazem.controls['cidadeEstado'].dirty || formArmazem.controls['cidadeEstado'].touched)">
                    Cidade/Estado é obrigatório
                </mat-error>
                <mat-error
                    *ngIf="formArmazem.controls['cidadeEstado'].invalid && formArmazem.controls['cidadeEstado'].errors.maxlength && (formArmazem.controls['cidadeEstado'].dirty || formArmazem.controls['cidadeEstado'].touched)">
                    Máximo de 100 caracteres
                </mat-error>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bairro" required formControlName="bairro">
                </mat-form-field>
                <mat-error
                    *ngIf="formArmazem.controls['bairro'].invalid && formArmazem.controls['bairro'].errors.required && (formArmazem.controls['bairro'].dirty || formArmazem.controls['bairro'].touched)">
                    Bairro é obrigatório
                </mat-error>
                <mat-error
                    *ngIf="formArmazem.controls['bairro'].invalid && formArmazem.controls['bairro'].errors.maxlength && (formArmazem.controls['bairro'].dirty || formArmazem.controls['bairro'].touched)">
                    Máximo de 100 caracteres
                </mat-error>

               

                    <ul>
                        <li *ngFor="let booleano of booleanos">
                            <mat-checkbox [ngModelOptions]='{standalone: true}' [(ngModel)]="booleano.escolhido" 
                                (ngModelChange)="escolherTodos()">
                                {{booleano.descricao}}
                            </mat-checkbox>
                        </li>
                    </ul>
             
            </mat-card-content>
            <div class="button-row">
                <button mat-raised-button color="primary" [disabled]="!formArmazem.valid" type="submit">Salvar</button>
                <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
            </div>

        </form>
    </mat-card>

</div>