@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
